/*
  border color : #0c2527
  background color : #A5B6E3
*/




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(images/ultraBeastWallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

.nav-container {
  display: flex;
}

.navigator {
  background-color: #0c2527;
  width: 100%;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 24px;
  font-size: 32px;
  font-family: "Kanit", sans-serif;
  justify-content: space-between;
}

.nav-img {
  margin-left: 24px;
  height: 60px;
  width: 60px;
}

.nav-links {
  margin-right: 24px;
  display: flex;
  gap: 24px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ebde7c;
}

a:active {
  background-color: black;
  font-style: italic;
}

.content-container {
  width: 1000px;
  margin: 0 auto;
  background-color: #A5B6E3;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  font-family: "Noto Sans", sans-serif;
  border: #475b5e 2px solid;
  border-radius: 10px;
  align-items: center;
  gap: 24px;
}

.content-container div:first-child {
  margin-top: 32px;
}

.content-container div:last-child {
  margin-bottom: 32px;
}

.welcome-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.welcome-container {
  width: 92%;
  border: #475b5e 5px solid;
  border-radius: 10px;
  background-color: #ffffee;
}

.welcome-message {
  font-size: 36px;
  font-weight: bold;
}

p {
  margin-top: 18px;
}
