/*
  border color : #0c2527
  background color : #A5B6E3
*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(images/ultraBeastWallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

.nav-container {
  display: flex;
}

.navigator {
  background-color: #0c2527;
  width: 100%;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 24px;
  font-size: 32px;
  font-family: "Kanit", sans-serif;
  justify-content: space-between;
}

.nav-img {
  margin-left: 24px;
  height: 60px;
  width: 60px;
}

.nav-links {
  margin-right: 24px;
  display: flex;
  gap: 24px;
}

.nav-links a:link {
  color: white;
  text-decoration: none;
}

.nav-links a:visited {
  color: white;
}

.nav-links a:hover {
  text-decoration: underline;
  text-decoration-color: #ebde7c;
}

.nav-links a:active {
  font-style: italic;
}

.content-container {
  width: 1100px;
  margin: 0 auto;
  background-color: #A5B6E3;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  font-family: "Noto Sans", sans-serif;
  border: #475b5e 2px solid;
  border-radius: 10px;
  align-items: center;
  gap: 24px;
}


.welcome-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
}

.standard-container, 
.pokemon-standard-container, 
.pcbox-standard-container,
.trainer-page-container {
  width: 92%;
  border: #475b5e 5px solid;
  border-radius: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.standard-container {
  background-color: #FFFeee;
}

.pokemon-standard-container, 
.pcbox-standard-container,
.trainer-page-container {
  background-color: #FFF;
}


.welcome-lines {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-paragraph {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 32px;
  text-align: center;
}

.welcome-mon-image {
  width: 150px;
  height: 150px;
}

.welcome-message {
  font-size: 36px;
  font-weight: bold;
}

.index-credits {
  margin-top: 16px;
}
.index-credits p {
  font-size: 12px;
}


.more-info {
  text-align: center;
  font-size: 14px;
  padding: 4px;
  background-color: #96adec;
  border-radius: 0px 0px 6px 6px;
}

p {
  font-size: 18px;
}

.content {
  margin-left: 24px;
  margin-right: 24px;
}

.lower-page-title {
  font-weight: 400;
  margin-top: 24px; 
  border-bottom: #0c2527 solid 1px;
}

.pokemon-page-info, .trainer-page-info {
  margin-top: 24px;
}

.pokemon-page-info p, .pcbox-page-info p, .trainer-page-info p {
  font-size: 14px;
  line-height: 1.5;
}

.dex-nav {
  margin-left: 16px;

  background-color: rgb(238, 238, 238);
  border: solid 1px #7cb0eb;
  border-radius: 10px;
  display: table;
}

.list-box-title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
}

.gen-list {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 16px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: rgb(64, 101, 95);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #7cb0eb;
}

a:active {
  font-style: italic;
}

li {
  margin: 10px 0;
}

.mid-sect {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: start;
}

.mid-sect-form {
  display: flex;
  flex-direction: column;
}

.mid-sect-img {
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

.mid-sect-img-pair {
  margin-left: 48px;
}

.mid-sect-img-region {
  width: 500px;
  height: 250px;
  border-radius: 10px;
  margin-left: 24px;
}

.gen1-section {
  margin-top: 48px;
}

/*Tables*/
table {
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid #343a40; */
  border-collapse: collapse; 
  font-size: 18px;
}


th, td {
  /* border: 1px solid #343a40; */
  padding: 16px 24px;
  text-align: left;
}

thead tr {
  background-color: #087f5b;
  color: white;
}

thead th {
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
/*////////////////////////*/


.image-credits {
  text-align: center;
}

/* .pcbox-description-div {
  display: flex;
  flex-direction: column;
  align-items: start;
} */

.pcbox-description {
  text-align: left;
}


.trainer-page-header {
  display: flex;
  justify-content: space-between;
}

.trainer-page-header p {
  width: 50%;
}

.ash-img {
  width: 200px;
  height: 450px;
}

.champion-recruitment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  border-bottom:#0c2527 3px solid;
}

.champion-recruitment-header .champion-recruitment {
  font-size: 16px;
  font-weight: 200;
  font-family: "Archivo Black", sans-serif;
}

.champion-mid-sect {
  border:#0c2527 5px solid;
  border-radius: 10px;
}

.champion-img {
  width: 16%;
  height: 300px;
  border:#7cb0eb 3px solid;
  border-radius: 10px;
  padding: 10px;
}




.form-div {
  margin: 24px;
	display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;

  border:#0c2527 5px solid;
  border-radius: 10px;
  padding: 12px;
  gap: 48px;
}

form label {
  font-size: 18px;
}

input { 
  height: 48px;
  padding: 0px 12px;
  font-size: 18px;
}

/*Melvin's Section of CSS*/




