/*
  border color : #0c2527
  background color : #A5B6E3
*/




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(images/ultraBeastWallpaper.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: auto;
}

.nav-container {
  display: flex;
}

.navigator {
  background-color: #0c2527;
  width: 100%;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 24px;
  font-size: 32px;
  font-family: "Kanit", sans-serif;
  justify-content: space-between;
}

.nav-img {
  margin-left: 24px;
  height: 60px;
  width: 60px;
}

.nav-links {
  margin-right: 24px;
  display: flex;
  gap: 24px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #ebde7c;
}

a:active {
  background-color: black;
  font-style: italic;
}

.content-container {
  width: 1000px;
  margin: 0 auto;
  background-color: #A5B6E3;
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  font-family: "Noto Sans", sans-serif;
  border: #475b5e 2px solid;
  border-radius: 10px;
  align-items: center;
  gap: 24px;
}


.welcome-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
}

.standard-container, .pokemon-standard-container {
  width: 92%;
  border: #475b5e 5px solid;
  border-radius: 10px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.standard-container {
  background-color: #ffffee;
}

.pokemon-standard-container {
  background-color: #FFF;
}

.welcome-lines {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-paragraph {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-bottom: 32px;
  text-align: center;
}

.welcome-mon-image {
  width: 150px;
  height: 150px;
}

.welcome-message {
  font-size: 36px;
  font-weight: bold;
}



.more-info {
  text-align: center;
  font-size: 14px;
  padding: 4px;
  background-color: #96adec;
  border-radius: 0px 0px 6px 6px;
}

p {
  font-size: 18px;
}

.content {
  margin-left: 24px;
  margin-right: 24px;
}

.lower-page-title {
  font-weight: 400;
  margin-top: 24px; 
  border-bottom: #0c2527 solid 1px;
}

.pokemon-page-info {
  margin-top: 24px;
}

.pokemon-page-info p {
  font-size: 14px;
  line-height: 1.5;
}

.dex-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 16px;
  margin-top: 16px;
  background-color: rgb(182, 182, 182);
  display: block;
}

li a:link {
  color: black;
  text-decoration: none;
}

li a:visited {
  color: rgb(64, 101, 95);
}

li a:hover {
  text-decoration: underline;
  text-decoration-color: #7cb0eb;
}

li a:active {
  background-color: black;
  font-style: italic;
}