* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url(images/pokemon-nature-pikachu-charmander-wallpaper-preview.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.container {
  display: flex;
}

.navigator {
  background-color: rgb(255, 177, 20);
  width: 100%;
  display: flex;
  padding: 16px 0px;
  align-items: center;
  gap: 24px;
  font-size: 48px;
  font-family: "Kanit", sans-serif;
  justify-content: space-between;
}

.nav-img {
  margin-left: 24px;
  height: 62px;
  width: 62px;
}

.nav-links {
  margin-right: 24px;
  display: flex;
  gap: 24px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: #74c3ff;
  font-weight: bold;
}

a:active {
  background-color: black;
  font-style: italic;
}

.content {
  width: 1200px;
  margin: 0 auto;
  background-color: cyan;
}